/*
* @Author: zplus
* @Date:   2016-10-25 11:45:43
* @Last Modified by:   zplus
* @Last Modified time: 2016-10-25 11:45:45
*/

  $imgStylePadding:         5px;
  $imgStyleBorder:          1px solid #ccc !default;
  $imgStylePadding:         2px !default;
  $imgStyleRadius:          8px !default;

  @mixin img-border($border: $imgStyleBorder, $padding: $imgStylePadding) {
    border: $border;
    padding: $padding;
  }
  @mixin img-rounded($radius: $imgStyleRadius) {
    border-radius: $radius;
  }

  @mixin box-shadow($shadow...) {
    -wekbit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
  }
  .img-border {
    @include img-border;
    @include box-shadow(0 0 3px rgba(0,0,0,0.3),inset 0 0 3px rgba(255,255,255,0.3));
  }
  .img-rounded {
    @include img-rounded;
  }

  // 多个变量一起申明
  $linkColor: red blue !default;
  a {
    color: nth($linkColor, 1);
    &:hover {
      color: nth($linkColor, 2);
    }
  }

  // @mixin
  @mixin center-block {
    margin-left: auto;
    margin-right: auto;
  }

  #header {
    width: 1000px;
    @include center-block;
  }
  .gallery {
    width: 600px;
    @include center-block;
  }

  $lte7: false;
  $lte7: true !default; //是否兼容ie6,7
  @mixin inline-block {
    display: inline-block;
    @if $lte7 {
      *display: inline;
      *zoom: 1;
    }
  }

  @mixin float($float: left) {
    float: $float;
    @if $lte7 {
      display: inline;
    }
  }
  .fl {
    @include float;
  }
  .fr {
    @include float(right);
  }

  // 禁用样式，加!important
  @mixin disabled($bgColor: #e6e6e6, $textColor: #ababab) {
    background-color: $bgColor !important;
    color: $textColor !important;
    cursor: not-allowed !important;
  }
  .disabled {
    @include disabled;
  }

  // @content
  // media-queries, keyframes
  // --------------------------------
  // 定义 media-queries 的最小最大宽度
  @mixin screen($res-min, $res-max) {
    @media screen and (min-width: $res-min) and (max-width: $res-max) {
      @content;
    }
  }

  // 定义 keyframes
  @mixin keyframes($name) {
    @keyframes #{$name} {
      @content;
    }
  }

  // 定义所有不支持圆角的浏览器使用背景图片
  // 得使用[modernizr](http://modernizr.com/)来检测，在html上加class
  @mixin no-border-radius {
    .no-border-radius {
      @content;
    }
  }

  // 例子
  #header {
    @include screen(780px, 1000px) {
      color: red;
    }
  }
  @include screen(780px, 1000px) {
    body {
      font-size: 14px;
    }
  }
  @include keyframes(show) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @include no-border-radius {
    .box {
      // background: url(round-bg.gif) no-repeat;
    }
  }
  .box {
    @include no-border-radius {
      // background: url(round-bg.gif) no-repeat;
    }
  }

  // triangle
  @mixin triangle($direction, $size, $borderColor) {
    content: "";
    height: 0;
    width: 0;

    @if $direction == top {
      border-bottom: $size solid $borderColor;
      border-left: $size dashed transparent;
      border-right: $size dashed transparent;
    }
    @else if $direction == right {
      border-left: $size solid $borderColor;
      border-top: $size dashed transparent;
      border-bottom: $size dashed transparent;
    }
    @else if $direction == bottom {
      border-top: $size solid $borderColor;
      border-left: $size dashed transparent;
      border-right: $size dashed transparent;
    }
    @else if $direction == left {
      border-right: $size solid $borderColor;
      border-top: $size dashed transparent;
      border-bottom: $size dashed transparent;
    }
  }

  // 是否支持某个浏览器的前缀，如果你不想支持，可以设置为false
  $prefix-for-webkit: true !default;
  $prefix-for-mozilla: true !default;
  $prefix-for-microsoft: true !default;
  $prefix-for-opera: true !default;
  $prefix-for-spec: true !default;

  // prefixer
  // ----------------------------
  @mixin prefixer($property, $value, $prefixes) {
    @each $prefix in $prefixes {
      @if $prefix == webkit and $prefix-for-webkit == true {
        -webkit-#{$property}: $value;
      }
      @else if $prefix == moz and $prefix-for-mozilla == true {
        -moz-#{$property}: $value;
      }
      @else if $prefix == ms and $prefix-for-microsoft == true {
        -ms-#{$property}: $value;
      }
      @else if $prefix == o and $prefix-for-opera == true {
        -o-#{$property}: $value;
      }
      @else if $prefix == spec and $prefix-for-spec == true {
        #{$property}: $value;
      }
      @else {
        @warn "Unrecognized prefix: #{$prefix}";
      }
    }
  }

// webkit 和标准
@mixin box-shadow($shadow...) {
  @include prefixer(box-shadow, $shadow, webkit spec);
}
@mixin box-sizing($type: border-box) {
  @include prefixer(box-sizing, $type, webkit moz spec);
}
@mixin transform($property...) {
  @include prefixer(transform, $property, webkit moz o spec);
}
.box{
    @include box-shadow(0 0 5px rgba(0,0,0,.3));
    @include box-sizing;
    @include transform(scale(2));
}

// 设置宽高，默认为 auto
// unitless判断是否无单位
@mixin size($size...) {
  $size: if(length($size) > 0, $size, auto);
  $width: nth($size, 1);
  $height: nth($size, length($size));

  @if $width != auto {
    $width: if(unitless($width), $width + px, $width);
  }
  @if $height != auto {
    $height: if(unitless($height), $height + px, $height);
  }
  width: $width;
  height: $height;
}

// %
%center-block {
  @include center-block;
}
#header {
  width: 1000px;
  @extend %center-block;
}
.gallery {
  width: 600px;
  @extend %center-block;
}

$lte7: true;
%clearfix {
  @if $lte7 {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}
// 使用
.wrap {
  @extend %clearfix;
}
.row {
  @extend %clearfix;
}

//变量依次为：字体大小，边框颜色，focus时边框颜色，圆角大小
$simpleForm: 12px $gray #52a8ec $baseRadius  !default;
%simple-form-basic {
  border: 1px solid nth($simpleForm, 2);
  padding: 4px;

  @if not(unitless($simpleForm, 4)) {
    border-radius: nth($simpleForm, 4);
  }
  &:after {
    outline: 0 none;
  }
}
// ie6,7 zoom 组合使用
%zoom {
  @if $lte7 {
    *zoom: 1;
  }
}

// 通过先定义 @mixin, 然后再 % 调用 @mixin 来实现传递变量
@mixin float($float: left) {
  float: $float;
  @if $lte7 {
    display: inline;
  }
}
%float-right {
  @include float(right);
}

// function
// ------------------------------------
$redDark: darken(#f00, 50%) !default;
p {
  color: darken(#f00, 70%);
  background: $redDark;
  border-color: raba(#102030, .5);
}

// px 转 em
@function px2em($px, $base: 16) {
  @return ($px / $base) * 1em;
}

// 960网格布局
$_columns: 12 !default; // 总列数
$_column-width: 60px !default;  // 单列宽
$_gutter: 20px !default;

@function get_width($columns: $_columns, $onlyInnerWidth: true, $_subtract: 0) {
  // 默认返回值
  $return: ($_column-width + $_gutter) * $columns - $_subtract !default;

  @if $onlyInnerWidth == true {
    // 如果 $onlyInnerWidth== true,那么减去一个间隔 $_gutter
    $return: ($_column-width + $_gutter) * $columns - $_gutter - $_subtract;
  }

  @return $return;
}

#container {
  width: get_width(12, false);
}
.col-4 {
  @extend %clearfix;
  .col {
    @include float;
    margin: 0 $_gutter/2;
    width: get_width(3);  // 220px

    h2 {
      padding-left: 10px;
      width: get_width(3, true, 10px);  // 210px
    }
  }
}
