<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css3列</title>
    <style type="text/css">
        .col {
            -webkit-column-count: 3;
            -webkit-column-width: 14em;
            -webkit-column-gap: 2em;
            -webkit-column-rule: 1px solid #ccc;
            column-count: 3;
            column-width: 14em;
            column-gap: 2em;
            column-rule: 1px solid #ccc;
        }
        p {margin: 0; padding: 0;}
    </style>
</head>
<body>
<h1>Socrates</h1>
<div class="col">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque cum dignissimos eligendi, eos excepturi ipsam magnam nesciunt, perspiciatis praesentium quo reiciendis! Autem enim fuga hic minus neque quod totam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque cum dignissimos eligendi, eos excepturi ipsam magnam nesciunt, perspiciatis praesentium quo reiciendis! Autem enim fuga hic minus neque quod totam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque cum dignissimos eligendi, eos excepturi ipsam magnam nesciunt, perspiciatis praesentium quo reiciendis! Autem enim fuga hic minus neque quod totam!</p>
</div>
</body>
</html>