<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .wrapper {
            width: 100%;
            overflow: hidden;
        }
        .box {
            width: 250px;
            margin: 0 0 -500px 20px;
            float: left;
            display: inline;
            padding: 20px 20px 520px 20px;
            background: #89ac10;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>Andy Budd</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis consectetur distinctio doloribus eum facere facilis fugit harum illo illum ipsam itaque iusto quo sed temporibus, ut velit veniam vitae?</p>
    </div>
    <div class="box">
        <h1>Richard Rutter</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis consectetur distinctio doloribus eum facere facilis fugit harum illo illum ipsam itaque iusto quo sed temporibus, ut velit veniam vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis consectetur distinctio doloribus eum facere facilis fugit harum illo illum ipsam itaque iusto quo sed temporibus, ut velit veniam vitae?</p>
    </div>
    <div class="box"><h1>Jeremy Keith</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis consectetur distinctio doloribus eum facere facilis fugit harum illo illum ipsam itaque </p>
    </div>
</div>
</body>
</html>