doctype html
html(lang="zh-cmn-Hans")
	head
		title 测试
	body
		a(href="https://github.com/Zhangjd/awesome-pure-css-no-javascript/blob/master/flexbox-pattern.md#flexbox-样式")
		.cardGroup
			.card.cardGroup-card
				.card-description.cardGroup-cardDescription
					img(src="http://lorempixel.com/50/50/sports/1/")
					.card-descriptionText Trial
				.card-price Free!
			.card.cardGroup-card
				.card-description.cardGroup-cardDescription
					img(src="http://lorempixel.com/50/50/sports/1/")
					.card-descriptionText Basic tier<br/>(most popular)
				.card-price $6,000.00
			.card.cardGroup-card
				.card-description.cardGroup-cardDescription
					img(src="http://lorempixel.com/50/50/sports/1/")
					.card-descriptionText Advanced tier<br/>(only for enterprise-level professionals)
				.card-price $10.00

		.card.card-fixedWidth
			.card-description
				img(src="http://lorempixel.com/50/50/sports/1/")
				.card-descriptionText Science potion
			.card-price Costs $5

		.featureListItem
			.featureListItem-icon
				img(src="http://lorempixel.com/50/50/sports/1/")
			.featureListItem-description The calendar feature makes scheduling a snap.
		.featureListItem.featureListItem-reverse
			.featureListItem-icon
				img(src="http://lorempixel.com/50/50/sports/1/")
			.featureListItem-description Our dashboard gives you a bird&rsquo;s-eye-view-at-a-glance-on-the-go.
		.featureListItem
			.featureListItem-icon
				img(src="http://lorempixel.com/50/50/sports/1/")
			.featureListItem-description You can get notified by email or SMS.


		.centeredPrompt
			.centeredPrompt-item.centeredPromptIcon
				img(src="http://lorempixel.com/50/50/sports/1/")
			.centeredPrompt-item.centeredPromptLabel Welcome to the app!
			.centeredPrompt-item.centeredPromptDetails Thanks for signing up. Let&rsquo;s take a look around.
			.centeredPrompt-item.button Begin tour

		.sideBar
			.sideBar-section
				.sideBar-item.active Inbox
				.sideBar-item Contacts
				.sideBar-item Account
			.sideBar-section
				.sideBar-item Legal

		.formFooter
			.formFooter-section
				.formFooter-item.formFooterFeedback
					.fa.fa-spinner.formFooterSpinner &nbsp;Saving...
			.formFooter-section
				.formFooter-item.buttton.button-clear Reset
				.formFooter-item.button Save

		.siteHeader
			.siteHeader-section
				.siteHeader-item.siteHeaderLogo
					.fa.fa-inbox
				.siteHeader-item.siteHeaderButton.active Inbox
				.siteHeader-item.siteHeaderButton Sent
				.siteHeader-item.siteHeaderButton Trash
			.siteHeader-section
				.siteHeader-item.siteHeaderButton Settings

		.tabs
			.tab.active Tab 1
			.tab Tab 2
			.tab Tab 3
			.tab Tab 4

		.setpperInput
			button.button.button-addOnLeft -
			input.setpperInput_input.input(type="text" placeholder="Age" value="32")
			button.button.button-addOnRight +

		.container
			.initial
			.none
			.flex1
			.flex2

		.container
			.item 1
			.item 2
			.item 3
			.item 4

		.vertical-container
			div 垂直居中
